@media (max-width: 800px) {
    header h1 {
        padding-top: 20vh;
        font-size: 4rem;
    }

    header h2 {
        padding-top: 10vh;
    }

    form {
        width: 80%;
        margin-left: 10%;
    }

    .quiz-button-container {
        grid-template-columns: 1fr;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    #data {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        justify-content: center;
    }

    /* Navigation */
    .nav-container {
        display: none;
    }

    .nav-container-mobile {
        display: flex;
        justify-content: space-between;
        background-color: rgb(18, 18, 18);
    }

    #nav-container-mobile-open {
        background-color: rgb(23, 23, 23);
        display: none;
        width: 100%;
        text-align: left;
        list-style: none;
    }

    #nav-container-mobile-open ul {
        display: inline-block;
    }
}

@media (prefers-reduced-motion: reduce) {
    .spinner, .quiz-heart {
        animation: none;
    }
}