body {
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 5rem;
}

header h1 {
    padding-top: 30vh;
    margin: 0;
    color: rgb(33, 115, 173);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

a.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    border-radius: 10px;
    color: white;
    background-color: rgb(33, 115, 173);
    text-decoration: none;
}

a.button:hover {
    background-color: rgb(25, 87, 131);
}

a.button:active {
    background-color: rgb(16, 54, 79);
}

/* Navigation */
nav {
    background-color: rgb(33, 115, 173);
    color: white;
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

nav li {
    margin: 0;
    padding: 1rem 1.5rem;
}

nav li a {
    text-decoration: none;
    color: white;
    text-align: right;
}

nav li a:hover {
    text-decoration: underline;
}